html, body, p {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Lora;
}

.xblock-render .network-chart-main-container {
    position: relative !important;
    overflow: hidden;
}

.network-chart-main-container {
    background: url('https://s3.amazonaws.com/mit-cre/XBlocks/network-chart/imgpsh_fullsize.jpeg');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.network-chart-main-container .title {
    color: white;
    font-size: 46px;
    position: absolute;
    top: 10%;
    left: 10%;
}

.hidden {
    display: none;
}

.node {
    fill: #592316;
    stroke: #fff;
    stroke-width: 1px;
}

.node:hover {
    cursor: pointer;
}

.node.active {
    fill: #fdfdfd;
}

.link {
    fill: none;
    stroke: #fdfdfd;
    stroke-width: 1.5px;
}

.inactive {
    stroke: #954D35;

}

path.inactive {
    stroke: #954D35;
}

.chart, svg {
    width: 100%;
    height: 100%;
    min-height: 500px;
}

/* List of sibling nodes */

ul.dataList {
    position: absolute;
    bottom: 0;
    width: 100%;
    list-style: none;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
}

ul.dataList li {
    display: inline-block;
    width: 90px;
    height: 100px;
    opacity: .33;
    padding-bottom: 0;
}

.dataList li:hover {
    opacity: 1;
}

.dataList img {
    width: 100%;
    height: 100%;
}

/* Active node - container for info display */

.dataInfo {
    position: absolute;
    right: 11%;
    top: 30%;
    border: 7px solid #da7049;
}

.dataInfo img {
    height: 100%;
    overflow: hidden;
}

.dataInfo .text-info {
    position: absolute;
    bottom: 0;
    padding: 2px;
    margin-bottom: 15px;
    font-size: 14px;
}

.text-info p {
    height: auto;
    margin: 0 !important;
    font-size: 16px;
}

.text-info .fa {
    padding-left: 5px;
    cursor: pointer;
}

.data-info-overlay {
    z-index: 5;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(248, 80, 50, 0);
    background: -moz-linear-gradient(top, rgba(248, 80, 50, 0) 0%, rgba(44, 14, 9, 0) 61%, rgba(0, 0, 0, 0.33) 74%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248, 80, 50, 0)), color-stop(61%, rgba(44, 14, 9, 0)), color-stop(74%, rgba(0, 0, 0, 0.33)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(248, 80, 50, 0) 0%, rgba(44, 14, 9, 0) 61%, rgba(0, 0, 0, 0.33) 74%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(248, 80, 50, 0) 0%, rgba(44, 14, 9, 0) 61%, rgba(0, 0, 0, 0.33) 74%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(248, 80, 50, 0) 0%, rgba(44, 14, 9, 0) 61%, rgba(0, 0, 0, 0.33) 74%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(248, 80, 50, 0) 0%, rgba(44, 14, 9, 0) 61%, rgba(0, 0, 0, 0.33) 74%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f85032', endColorstr='#000000', GradientType=0);
}

.text-info {
    position: absolute;
    bottom: 8%;
    left: 10%;
    color: #fdfdfd;
    font-size: 16px;
    z-index: 10;
}

/**
*   Tooltip styling for nodes
 */

div.data-node-tooltip {
    position: absolute;
}

.network-chart-main-container .note {
    color: black;
}

@media (max-width: 1399px) {
    ul.dataList {
        width: 95%;
    }

    ul.dataList li {
        width: 70px;
        height: 80px;
    }

    .dataInfo .text-info {
        font-size: 12px;
    }
}