/**
 * Tooltip Styles
 */

/* Base styles for the element that has a tooltip */
[data-mit_tooltip],
.data-node-tooltip{
    position: relative;
    cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-mit_tooltip]:before,
[data-mit_tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
	transition:
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}

.data-node-tooltip:before,
.data-node-tooltip:after,
.data-info-tooltip:before,
.data-info-tooltip:after {
    position: absolute;
    transition:
      opacity 0.2s ease-in-out,
      visibility 0.2s ease-in-out,
      transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-mit_tooltip]:hover:before,
[data-mit_tooltip]:hover:after,
[data-mit_tooltip]:focus:before,
[data-mit_tooltip]:focus:after,
.data-node-tooltip:hover:before,
.data-node-tooltip:hover:after,
.data-node-tooltip:focus:before,
.data-node-tooltip:hover:after {
    visibility: visible;
    opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
[data-mit_tooltip]:before,
.data-node-tooltip:before,
.data-info-tooltip:before {
    z-index: 1001;
    border: 6px solid transparent;
    background: transparent;
    content: "";
}

/* Base styles for the tooltip's content area */
[data-mit_tooltip]:after {
    z-index: 1000;
    padding: 10px;
    width: 100px;
    background-color: #da7049;
    color: #fff;
    content: attr(data-mit_tooltip);
    font-size: 14px;
    font-family: sans;
    line-height: 1.2;
    text-align: center;
}

.data-node-tooltip:after {
    z-index: 1000;
    padding: 10px;
    width: 100px;
    background-color: #da7049;
    color: #fff;
    content: attr(data-node-tooltip);
    font-size: 14px;
    font-family: sans;
    line-height: 1.2;
    text-align: center;
}

.data-info-tooltip:after {
    z-index: 1000;
    padding: 15px;
    width: 100px;
    background-color: #da7049;
    color: #fff;
    content: attr(data-info-tooltip);
    font-size: 12px;
    font-family: sans;
    line-height: 1.2;
    text-align: left;
}

/* Directions */

/* Top (default) */
[data-mit_tooltip]:before,
[data-mit_tooltip]:after,
.data-node-tooltip:before,
.data-node-tooltip:after {
    bottom: 100%;
    left: 50%;
}

[data-mit_tooltip]:before,
.data-node-tooltip:before {
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: #da7049;
}

/* data info tooltip */

.data-info-tooltip:before,
.data-info-tooltip:after {
    top: 100%;
    bottom: auto;
    left: 50%;
}

/* this is arrow */
.data-info-tooltip:before {
    margin-top: -12px;
    margin-bottom: 0;
    border-bottom-color: #da7049;
}

/* here is content displayed */
.data-info-tooltip:after {
    left: -15%;
    width: 350px;
}

/* Horizontally align top/bottom tooltips */
[data-mit_tooltip]:after,
.data-node-tooltip:after {
    margin-left: -60px;
}

[data-mit_tooltip]:hover:before,
[data-mit_tooltip]:hover:after,
[data-mit_tooltip]:focus:before,
[data-mit_tooltip]:focus:after,
.data-node-tooltip:hover:before,
.data-node-tooltip:hover:after,
.data-node-tooltip:focus:before,
.data-node-tooltip:focus:after,
.data-info-tooltip:hover:before,
.data-info-tooltip:hover:after/*,
.data-info-tooltip:focus:before,
.data-info-tooltip:focus:after*/ {
    transform: translateY(-12px);
}

@media (max-width: 1399px) {
    .data-info-tooltip:after {
        width: 300px;
        left: -50%;
    }
}